.cardContainer{
    background-color: rgb(2, 151, 2);
    color: greenyellow;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

.formhour {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }